default: install

.PHONY: test_env clean

ENV_MSG=
ENV_RETURN_CODE=true

ifndef ESSEX_BASE
	ENV_MSG+=echo Environment variable ESSEX_BASE not set.; \
	        echo This should be the base directory of the project,; \
	        echo for instance ${HOME}/dfg-essex/trunk/;
	ENV_RETURN_CODE=false
endif
ifndef ESSEX_INSTALL
	ENV_MSG+=echo Environment variable ESSEX_INSTALL not set.; \
	        echo This should be the directory where to instll libs, headers and binaries,; \
	        echo for instance /usr/local/;
	ENV_RETURN_CODE=false
else
	CFLAGS+=-I${ESSEX_INSTALL}/include
	CXXFLAGS+=-I${ESSEX_INSTALL}/include
	FFLAGS+=-I${ESSEX_INSTALL}/include
	LDFLAGS+=-L${ESSEX_INSTALL}/lib
endif
ifndef ESSEX_PLAT
	ENV_MSG+=echo Environment variable ESSEX_PLAT not set.; \
		echo This determines which makefile from make.inc is chosen.;
	ENV_RETURN_CODE=false
endif
ifndef ESSEX_KERNEL_LIB                                        
	ENV_MSG+=echo Environment variable ESSEX_KERNEL_LIB not set.; \
		echo This determines which underlying kernel library is linked in.;
	ENV_RETURN_CODE=false
else
	LIBS+=-lessex_kernels_${ESEX_KERNEL_LIB}_${ESSEX_PLAT}
endif
ifeq ($(ESSEX_KERNEL_LIB),ghost)
	ifndef GHOST_BASE
		ENV_MSG+=echo Environment variable GHOST_BASE not set.;
		ENV_RETURN_CODE=false
	endif
	else ifeq ($(ESSEX_KERNEL_LIB),epetra)
		ifndef TRILINOS_BASE
			ENV_MSG+=echo Environment variable TRILINOS_BASE not set.;
			ENV_RETURN_CODE=false
		else
			CXXFLAGS+=-I${TRILINOS_BASE}/include
			LDFLAGS+=-L${TRILINOS_BASE}/lib 
			LIBS+=-lepetra -lteuchos
		endif
	else ifeq ($(ESSEX_KERNEL_LIB),tpetra)
		ifndef TRILINOS_BASE
			ENV_MSG+=echo Environment variable TRILINOS_BASE not set.;
			ENV_RETURN_CODE=false
		else
			CXXFLAGS+=-I${TRILINOS_BASE}/include
			LDFLAGS+=-L${TRILINOS_BASE}/lib 
			LIBS+=-ltpetra -lkokkos -lteuchos
		endif
	else
		ENV_MSG+=echo Environment variable ESSEX_KERNEL_LIB is invalid.; \
		        echo We currently support epetra, tpetra and ghost.;
		ENV_RETURN_CODE=false
	endif
	ENV_MSG+=echo

	INSTALL_CMD=
	ifdef HEADER_FILES
		INSTALL_CMD+=cp ${HEADER_FILES} ${ESSEX_INSTALL}/include/;
	endif
	ifdef LIBNAME
		INSTALL_CMD+=cp ${LIBNAME} ${ESSEX_INSTALL}/lib/;
	endif
	ifdef EXEC
		INSTALL_CMD+=cp ${EXEC} ${ESSEX_INSTALL}/bin/;
	endif
	ifdef TEST_FILES
		INSTALL_CMD+=cp ${TEST_FILES} ${ESSEX_INSTALL}/test/;
	endif

	INSTALL_CMD+=echo

test_env:
	@${ENV_MSG}
	@${ENV_RETURN_CODE}

${EXEC}: ${EXEC}.o
	${LD} ${LDFLAGS} -o $@ $< ${LIBS}	

%.o: %.c
	${CC} ${CFLAGS} -c $<

%.o: %.C
	${CXX} ${CXXFLAGS} -c $<

%.o: %.cpp
	${CXX} ${CXXFLAGS} -c $<

%.o: %.cxx
	${CXX} ${CXXFLAGS} -c $<

%.o: %.f90
	${FC} ${FFLAGS} -c $<

%.o: %_tmp.f90
	${FC} ${FFLAGS} -o $@  -c $<

%.o: %.F90
	${FC} ${FFLAGS} -c $<

%_tmp.f90: %.Fsrc %.Fimpl
	${FPP} -I${ESSEX_HOME}/config/ ${FPPFLAGS} $< > $@

${LIBNAME}: ${OBJ}
	${AR} ${ARFLAGS} ${LIBNAME} ${OBJ}

install: ${HEADER_FLIES} ${LIBNAME} ${EXEC_FILES} ${TEST_FILES} install_dirs
	@${INSTALL_CMD}
	
install_dirs: test_env
	+@[ -d $(dir ${ESSEX_INSTALL}) ] || mkdir -p $(dir ${ESSEX_INSTALL})
	+@[ -d $(dir ${ESSEX_INSTALL}/include) ] || mkdir -p $(dir ${ESSEX_INSTALL}/include)
	+@[ -d $(dir ${ESSEX_INSTALL}/lib) ] || mkdir -p $(dir ${ESSEX_INSTALL}/lib)
	+@[ -d $(dir ${ESSEX_INSTALL}/test) ] || mkdir -p $(dir ${ESSEX_INSTALL}/test)
	+@[ -d $(dir ${ESSEX_INSTALL}/bin) ] || mkdir -p $(dir ${ESSEX_INSTALL}/bin)

add_to_libessex: ${OBJ} test_env
	${AR} ${ARFLAGS} ${ESSEX_BASE}/lib/libessex_${ESSEX_PLAT}.a ${OBJ}

clean:
	-rm *.o *.mod *_tmp.f90
