CR Features:
1)	Each process should write process-local data.	WHY???



AFT Features:
1) 	No communication via MPI_COMM_WORLD is allowed. Rather a copy of MPI_COMM_WORLD should be created.


2) For multi-level checkpoints, if the inner-level checkpoints depend on the data/iteration-counter of the upper-level checkpoints. It may lead to problems.

for(i:0->10)		//	f1=5 (0,5,10) 
{
	calc (x)
	for(j:0-100)		// f2=50 (0,50,100)
	{
			calc(i,j,x,y);				// y depends on x, i and j index.
	}

}
failure at (i=7,j=7):
PROBLEM:	we have x-result checkpointed at i=5. But it is not compatible with the further checkpoints of y. The y-checkpoint (latest calculated at j=5)results have been calculated with x=7. Thus both checkpoint levels are not compatible with each-other.

Requirement:
	1) There should not be any dependency of inner-loops on the outer-loops.
	2) The checkpoint frequency of all outer-loops should be 1. 
	3) If inner-loop checkpoints are defined within the inner loop, they should be defined as static objects.


*	MPI-IO for POD, POD-Arrays, POD-MULTIARRAYS, etc. Check their compatibity separately with SCR. For SCR, the filename creation should be in different functions.
